<div class="sidebar">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/register">Add-user</a></li>
      <li><a routerLink="/user">User</a></li>
      <li><a routerLink="/edit-user">edit-user</a></li>
      <li><a routerLink="/evenement">evenement</a></li>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/add-salle">add-salle</a></li>
      <li><a routerLink="/stand">stand</a></li>
      <li><a routerLink="/equipement">equipement</a></li>
    </ul>
  </div>
  