<div class="cards-container">
  <div *ngFor="let event of evenements" class="card event-card">
    <h3>{{ event.nom }}</h3>
    <p><strong>Date de début :</strong> {{ event.dateDebut | date:'fullDate' }}</p>
    <p><strong>Date de fin :</strong> {{ event.dateFin | date:'fullDate' }}</p>

    <ng-container *ngIf="event.salle">
      <p><strong>Salle :</strong> {{ event.salle.nom }} (Capacité : {{ event.salle.capacite }})</p>
    </ng-container>

    <ng-container *ngIf="event.exposition">
      <p><strong>Exposant :</strong> {{ event.exposition.exposant }}</p>
      <div *ngFor="let stand of event.exposition.stands">
        <p>🧍‍♂️ Stand : {{ stand.nom }}</p>
      </div>
    </ng-container>
  </div>
</div>
